
<span>{{node.label}}</span> <a href="" ng-click="node.showInputBox = !node.showInputBox">{{plus}}</a>
<div ng-show="!node.showInputBox">
    <ul>
        <li ng-repeat="node in node.children" ng-include="'nodeTemplate.html'"></li>
    </ul>
    <input type="text" ng-model="node.c.childEle" ng-show="showInputBoxes" ng-enter="addNewNode(node)"/>
</div>


<!--
<ul>
    <li ng-repeat="child in node.children">
    <div>
        <span>{{child.label}}</span> <a href="" ng-click="child.showInputBox = !child.showInputBox">{{plus}}</a><br>
        <input type="text" ng-model="c.childEle" ng-show="child.showInputBox" ng-enter="addNewNode(child)"/>
    </div>
    </li>
</ul>-->
